{"type":"python","autoDelete":false,"created":"{{timestamp}}","id":"SCfSzoD2Tu58","lastsaved":"{{timestamp}}","size":0,"name":"{{name}}","slotIndex":0,"workspaceX":120,"workspaceY":120,"zoomLevel":0.5,"hardware":{"python":{"type":"flipper"}},"state":{}}
